body {
    background-color: #7895CB;
}

.links-container {
    background-color: #C5DFF8;
    font-style: normal;
    color: #2D4356;
}

.details-container {
    background-color: #C5DFF8;
    color: #2D4356;
}